@model Student;

<h1>Student Details</h1>

<table class="table table-dark">
    <tr>
        <th>Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Last Name</th>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <th>First Name</th>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <th>Course</th>
        <td>@Model.Course</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th>Admission Date</th>
        <td>@Model.AdmissionDate</td>
    </tr>
    <tr>
        <th>GPA</th>
        <td>@Model.GPA</td>
    </tr>
</table>
<a asp-action="index">return to index page</a>

